<div>
    <section class="content-header">
        <h1>
            License
            <small>项目</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);"><i class="fa fa-dashboard"></i>Selection</a></li>
            <li class="active">License</li>
            <li class="active">项目</li>
        </ol>
    </section>
    <!--主要信息  -->
    <div class="row" style=" padding: 0px 20px;background: ghostwhite;margin-top: 16px;">
        <div class="">
            <div class="col-md-12" id="projectTab">
                <div class="box box-warning" style="position: relative; height: 710px;">
                    <!-- /.box-header -->
                    <div class="box-header">
                        <h3 class="box-title">项目</h3>
                        <div class="box-tools">
                            <div class="input-group" style="width:200px;">
                                <input type="text" id="table_search" name="table_search" class="form-control input-sm pull-right"
                                       ng-model="keyword" placeholder="关键字">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" ng-click="search('');">
                                        <li class="fa fa-search"></li>
                                    </button>
                                    <button class="btn btn-sm btn-primary" ng-click="addpty();">
                                        <li class="fa fa-plus"></li>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th>组织Id</th>
                                <th>构件Id</th>
                                <th>公司名称</th>
                                <th>默认密码</th>
                                <th>授权主体</th>
                                <th style="width:180px;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="prj in page.list">

                                <td>{{$index+1}}</td>
                                <td>{{prj.groupId}}</td>
                                <td>{{prj.artifactId}}</td>
                                <td>{{prj.companyName}}</td>
                                <td>{{prj.defaultPassword}}</td>
                                <td>{{prj.licensingSubject}}</td>
                                <td>
                                    <a class="badge bg-light-blue" ng-click="editprj(prj);">编辑</a>
                                    <a class="badge bg-light-blue" ng-click="editDetail(prj);">参数</a>
                                  <!--  <a class="badge bg-red" ng-click="delprjUI(prj);">删除</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <tfoot>
                            <pagenation page="page"></pagenation>
                        </tfoot>
                    </div>
                </div>
            </div>
        </div>
        <!-- 编辑框 -->
    </div>
</div>


<!--新建系统账号 -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" name="myProject">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新建项目</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">组Id(groupId)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="groupId" ng-model="t_project.groupId"
                                   required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">构件Id(artifactId)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="artifactId" ng-model="t_project.artifactId"
                                   required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">公司名称(companyName)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="companyName"
                                   ng-model="t_project.companyName" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">默认密码</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="defaultPassword"
                                   ng-model="t_project.defaultPassword" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">授权主体</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="licensingSubject"
                                   ng-model="t_project.licensingSubject" required="required">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="!myProject.$valid"  ng-click="saveProject();">新建</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="commentModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" name="myform">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" >参数</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户数量</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="consumerAmount" ng-model="prjParams.consumerAmount"
                                   required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户类型</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="consumerType" ng-model="prjParams.consumerType"
                                   required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">发布者</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="issuer" ng-model="prjParams.issuer"
                                   required="required">
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-sm-3 control-label">主体</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="subject"
                                   ng-model="prjParams.subject" required="required">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">不早于</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="notBefore"
                                   ng-model="prjParams.notBefore" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">不迟于</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="notAfter"
                                   ng-model="prjParams.notAfter" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">信息</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="info"
                                   ng-model="prjParams.info" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">扩展项1</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="extra1"
                                   ng-model="prjParams.extra1" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">扩展项2</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="extra2"
                                   ng-model="prjParams.extra2" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">MAC地址（多个使用,号分隔）</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="macAddress"
                                   ng-model="prjParams.macAddress" >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="!myform.$valid" ng-click="savePrjParamer();">新建</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>

